@font-face {
  font-family: brownsugar;
  src: url("./assets/fonts/BrownSugar.ttf");
}
@font-face {
  font-family: "Cormorant Garamond", serif;
  src: url("./assets/fonts/CormorantGaramond-Regular.ttf");
}
@font-face {
  font-family: Merriweather;
  src: url("./assets/fonts/Merriweather-Regular.ttf");
}
.first {
  min-height: 100vh;
  background: url("./assets/bg.png") no-repeat;
  background-size: cover;
  background-position: 35% 0;
  vertical-align: middle;
  border-radius: 20px;
}
body {
  margin: 0;
}
.names-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 135px;
  padding-top: 0.8em;
}
.names {
  font-family: brownsugar, serif;
  margin: 0;
  font-size: 2.3em;
}
.second-names {
  font-size: 1.8em;
}
.names,
h2 {
  margin: 0;
}
.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}
.Merriweather {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
.color-cornsilk {
  color: cornsilk;
}
.black-shadow {
  text-shadow: 1px 1px 2px black;
}
.color-black {
  color: black;
}
.cornsilk-shadow {
  text-shadow: 1px 1px 2px cornsilk;
}
h3 {
  margin: 0;
}
.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.greet {
  padding-top: 11em;
  font-size: 1.4em;
  font-weight: lighter;
}
.second {
  padding-top: 17em;
}

.greet > h2 {
  font-size: 1.4em;
}
.sub-greet > span {
  padding-top: 0.5em;
  font-size: 0.9em;
}
.date {
  font-size: 1.3em;
  font-weight: 500;
}
.time {
  padding-top: 2em;
  font-size: 1.3em;
  font-weight: 500;
}
.date-light {
  font-size: 1.3em;
  font-weight: 400;
  padding-top: 10px;
}
.uppercase {
  text-transform: uppercase;
}

.column {
  display: flex;
  flex-direction: column;
}
.green-wrapper {
  padding: 0.5em;
  background-color: rgba(212, 155, 113, 0.8);
}

.how-to-wrapper {
  margin-top: 0.5em;
  background-color: cornsilk;
  opacity: 0.6;
  width: 100%;
  border-radius: 20px;
}

.map {
  opacity: 0.8;
  margin-top: 0.5em;
  width: calc(100vw - 1em);
  overflow: hidden;
  border-radius: 20px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.rsvp-wrapper {
  padding: 0.5em 0;
  margin-top: 1.5em;
  background-color: rgba(20, 20, 20, 0.5);
}
.rsvp {
  /*padding: 0.5em;*/
  /*margin-left: -0.5em;*/
  height: 3em;
  /*background-color: rgba(20, 20, 20, 0.5);*/
  width: calc(100vw - 1em);
  z-index: 99999;
  /*border-radius: 20px;*/
}
input {
  display: none;
}

input + label {
  color: cornsilk;
  z-index: 99999;
  cursor: pointer;
}

input:checked + label {
  text-decoration: underline;
}
